/* d:/Projects/Ap-Bokifa-main/src/components/navbar.css */
h1 {
    font-size: 3rem;
    display: flex;
    align-items: center;
    color: #a3a3a3;
    font-weight: 500;
}

.slider {
    position: relative;
    height: 1em;
    width: 150px;
    overflow: hidden;
    margin-left: 12px;
}

.slider__word {
    font-weight: 500;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 1em;
    transform: translateY(100%);
    animation: slide 2.5s linear infinite;
    color: #f5f5f5;
}

.slider__word:nth-child(2) {
    animation-delay: 0.83s;
}

.slider__word:nth-child(3) {
    animation-delay: 1.67s;
}

@keyframes slide {
    0% {
        transform: translateY(100%);
        opacity: 0.1;
    }

    15% {
        transform: translateY(0);
        opacity: 1;
    }

    30% {
        transform: translateY(0);
        opacity: 1;
    }

    45% {
        transform: translateY(-100%);
        opacity: 1;
    }

    100% {
        transform: translateY(-100%);
        opacity: 0.1;
    }
}